@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');

html {
    background-color: rgba(218, 240, 214, 1) ;
   
    
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
 
#menu-bar{
    background-color: rgba(209, 225, 206, 1);
    width: 100%;
    padding: 0px 100px;
    z-index: 1;
    position: fixed;
    margin-top: 0;
    /* margin-bottom: 100px; */
}

#menu-bar .logo{
    /* float: left; */
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    float: left;

}




#menu-bar ul li{
    display: inline-block;
    list-style: none;
    transform: translate(150%,50%) ;
}

#menu-bar ul li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    padding: 10px 32px;
    margin-top: 30px;
    
    
}

.icons{
    float: right;
    display: inline-block;
    margin-right: 200px;
    transform: translate(0,50%) ;
}
  
.icons a{
      margin: 0px ;
      padding: 0px 20px;
      color: black;
      
}




.shopping-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.item_cover{
    margin-top: 0px;
    width: 200px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.item-card{
    background-color: blanchedalmond;
    width: 200px;
    height: 500px;
    margin: 40px;
    margin-top: 80px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

.item-card:hover{
    opacity: 0.7;
}













/* footer stylying */
.footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right:0px;
    background-color: rgba(209, 225, 206, 1);
    padding: 20px 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 40px
}
.social-icons {
    display: flex;
    gap:20px
}

.icon{
    width: 50px;
    height: 50px;
    background-color: #27a327;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    color: rgba(209, 225, 206, 1);
}
.icon:hover {
    opacity: 0.7;
}
.copyright{
    text-align: center;
    font-size: 14px;
}
.fab-inbox {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: #27a327;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    color: rgba(209, 225, 206, 1);
}
